apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-deployment
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
        - name: ui
          image: varshithgowdav/ui:latest
          ports:
            - containerPort: 80
