apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: apps
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /api/v1/appointment
            pathType: Prefix
            backend:
              service:
                name: appointment-service
                port:
                  number: 8081

          - path: /api/v1/doctor
            pathType: Prefix
            backend:
              service:
                name: doctor-service
                port:
                  number: 8082

          - path: /
            pathType: Prefix
            backend:
              service:
                name: ui-service
                port:
                  number: 80
