apiVersion: apps/v1
kind: Deployment
metadata:
  name: doctor-service
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: doctor
  template:
    metadata:
      labels:
        app: doctor
    spec:
      containers:
        - name: doctor
          image: varshithgowdav/doctor:latest
          ports:
            - containerPort: 8082
# TODO
# add docker image
